@import '../../scss/lib/base/global-vars';

nav.header-bar{
  background-color: $frameColor;
  color: $reverseTextColor;

  span {
    font-size: 3vw;
    line-height: 4vw;
    margin: 2%;
  }
  ul{
    width: 30%;
    float:right;
    margin: 1%;
    li {
      display: block;
      float: right;
      margin-right: 2%;
      a{
        color: $highlightColor;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
          color: $highlightColor/2
        }
      }

    }

  }

}